@import url("/resources/css/colors.css");
header {
    height: 80px;
    position: sticky;
    padding-top: var(--header-padding-top);
    padding-bottom: 25px;
    z-index: 100;
    top: 0;
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;

}

.navbar-ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-link {
    display: flex;
    margin-left: 30px;
}

.buttons-list {
    display: flex;
    margin-left: auto;
    gap: 30px;
    list-style: none;
}

.buttons-list li {
    /* margin-right: 30px; */

}

.logo {
    display: flex;
    width: 40px;
}

.blur {
    backdrop-filter: blur(16px) brightness(0.7);
}



.download-cv-button {
    font-family: "Orbitron";
    color: var(--bg-color);
    padding: 4px 8px;
    background-color: var(--light-color);
    border: var(--light-color) 2px solid;
    border-radius: 5px;
}

.contact-me-button {
    font-family: "Orbitron";
    color: var(--highlight);
    padding: 4px 8px;
    background-color: var(--bg-color);
    border: var(--highlight) 2px solid;
    border-radius: 5px;
}

.contact-me-button:hover {
    background-color: var(--highlight);
    color: var(--bg-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.download-cv-button:hover {
    background-color: var(--highlight);
    border-color: var(--highlight);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-button {
    width: 130px;
}

.navbar-link,
.navbar-link:visited {
    font-family: "Orbitron";
    font-size: 20;
    color: var(--light-color);
    border-bottom: transparent 3px solid;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.navbar-link:hover {
    color: var(--highlight);
    border-bottom: var(--highlight) 3px solid;
}


.navbar-link:active {
    font-family: "Orbitron";
    font-size: 20;
} 

.theme-button {
    background-color: transparent;
    border: transparent;
    font-size: larger;
    color: var(--light-color);
    margin-left: 15px;
    padding: 15px;
}
.theme-button:hover {
    cursor: pointer;
    color: var(--highlight);
}