@import url("/resources/css/colors.css");
* {
    box-sizing: border-box;
}

main {
    margin-left: 5%;
    margin-right: 5%;
}

main h2 {
    font-family: "Orbitron";
    font-size: 1.7rem;
    color: var(--light-color);
    margin-top: var(--main-margin-top);
    margin-bottom: var(--main-margin-bottom);
    text-decoration: underline;
    text-underline-offset: 7px;
}

main h3 {
    font-family: "Orbitron";
    font-size: large;
    color: var(--light-color);
    margin-bottom: var(--main-margin-bottom);
    margin-top: 15px;
}

p {
    line-height: 1.5rem;
    letter-spacing: 1.2px;
}

main p {
    font-family: "Nunito", sans-serif;
    font-size: medium;
    color: var(--light-color);
    width: 5px;
    height: 100%;
    width: 50vw;
    padding-left: 10px;
    margin-top: var(--main-margin-top);
    margin-bottom: var(--main-margin-bottom);
}


