@import url("/resources/css/colors.css");
.modal {
    opacity: 0%;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 99;
    right: 0px;
    top: 0px;
    padding: 30px;
    border-radius: 5px;
    top: -300px;
    font-family: "Orbitron", sans-serif;
    color: var(--light-color);
    backdrop-filter: blur(10px) brightness(0.8);
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.close-modal-button {
    transition: all 0.3s ease-in-out;
}
.close-modal-button:hover {
    rotate: 90deg;
}
.form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: auto;
}
.form-content h3 {
    margin-bottom: 15px;
}
.form-content button {
    margin-top: 15px;
    border-radius: 5px;
    border: var(--light-color) 0px none;
    background-color: var(--highlight);
    font-family: "Orbitron", sans-serif;
    padding: 10px;
}
.close-modal-button {
    background-color: transparent;
    border: transparent;
    color: var(--light-color);
}
.close-modal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;

}
.form-content input {
    font-family: "Nunito", sans-serif;
    margin-bottom: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.form-content textarea {
    font-family: "Nunito", sans-serif;
    width: 400px;
}



/* MODAL MENU */
.menu-modal {
    position: sticky;
    height: 100vh;
}
.navbar-link-modal-ul{
    
}