@media (max-width: 400px) {

    /* NAVBAR */
    .navbar-ul {
        display: none;
    }

    .logo {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .nav-button {
        width: 100px;
    }

    /* NAVBAR */

    /* ------------------------------------------------ */

    /* HERO */

    h1 {
        font-size: 2rem;
    }

    .tag-line {
        position: absolute;
        bottom: 17%;
        font-size: 1rem;
        text-align: center;
        margin-left: 2%;
        margin-right: 2%;
    }

    /* HERO */
    /* ------------------------------------------------ */

    /* ABOUT ME */
    .content-about-me video {
        width: 100%
    }

    .about-me-text {
        margin-right: 0px;
    }

    .about-me-text p {
        width: 100%;
    }

    /* ABOUT ME */
    /* ------------------------------------------------ */
    /* SKILLS */

    .logos {
        flex-direction: column;
        align-items: center;
    }

    .logos li img {
        height: auto;
        width: 50px;
        margin-right: 0px;
    }

    .logos li {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    /* SKILLS */
    /* ------------------------------------------------ */

    /* PORTFOLIO */
    .case-list {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 5vh;

    }

    .case-image {
        width: 100%;
    }

    .case-card p {
        width: 100%;
    }

    /* PORTFOLIO */
    /* ------------------------------------------------ */

    /* REFERENCES */
    .references {
        height: 40vh;
        justify-content: space-between;
    }
    .reference-div {
        margin-top: 7vh;
    }

    .reference-text {
        font-size: 1.4rem;
    }

    /* REFERENCES */
    /* ------------------------------------------------ */

    /* FOOTER */
    .footer {
        height: 10vh;
        font-size: 1rem;
        padding: 0px;

    }
}