@media (max-width: 400px) {

    /* CONTACT MODAL */
    .modal {
        width: 100vw;
        padding: 5%;
    }

    /* CONTACT MODAL */

    /* LANGUAGE SELECTOR */
    .language {
        visibility: hidden;
    }

    /* LANGUAGE SELECTOR */

    /* NAVBAR */
    .navbar-ul {
        display: none;
    }

    .logo {
        display: none;
    }

    .menu-button {
        display: flex;
    }

    .nav-button {
        width: 100px;
    }

    /* NAVBAR */

    /* ------------------------------------------------ */

    /* HERO */

    h1 {
        font-size: 1.8rem;
    }

    .tag-line {
        position: absolute;
        top: 79%;
        font-size: 1rem;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    .weather {
        margin-right: 5%;
    }

    .weather-info {
        display: flex;
        justify-content: space-between;
    }


    /* HERO */
    /* ------------------------------------------------ */

    h2 {
        text-align: center;
    }

    /* ABOUT ME */
    .content-about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-about-me video {
        width: 100%
    }

    .about-me-text {
        margin-top: 10%;
        margin-right: 0px;
    }

    .about-me-text p {
        width: 100%;
    }

    #about-me {
        scroll-margin-top: 60px;
    }

    /* ABOUT ME */
    /* ------------------------------------------------ */
    /* SKILLS */

    .logos {
        flex-direction: column;
        align-items: center;
        justify-content: start;

    }

    .logos li img {

        width: 60px;
        margin-right: 0px;
    }

    .logos li {
        display: flex;
        align-items: start;
        gap: 30px;
    }

    .skill-list {
        margin-bottom: 30px;
    }

    #skills {
        scroll-margin-top: 60px;
    }

    /* SKILLS */
    /* ------------------------------------------------ */

    /* PORTFOLIO */
    .case-list {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 5vh;

    }

    .case-image {
        width: 100%;
    }

    .case-card p {
        width: 100%;
    }

    #portfolio {
        scroll-margin-top: 60px;
    }

    /* PORTFOLIO */
    /* ------------------------------------------------ */

    /* REFERENCES */

    .references {
        margin-top: 0px;
        height: 45vh;
        margin-bottom: 5vh;

    }

    .references-person h3 {
        font-size: 1.2rem;
    }

    .reference-text {
        text-align: center;
        font-size: 1.4rem;
    }

    #references {
        scroll-margin-top: 60px;
    }

    /* REFERENCES */
    /* ------------------------------------------------ */

    /* FOOTER */
    footer {
        font-size: 1.2rem;
        height: 15vh;
        justify-content: center;
        align-items: center;
        padding: 5vh;
        margin-top: 10vh;
    }

    .footer-list {
        flex-direction: column-reverse;
    }

    .footer-list li a {
        font-size: 2rem;
    }

}


@media (min-width: 401px) and (max-width: 700px) {
    main {
        gap: 10vh;
    }

    .menu-modal a {
        text-decoration: none;
        right: 0px;
    }

    .menu-modal a:hover {
        color: var(--highlight);
    }

    /* LANGUAGE SELECTOR */
    .language {
        visibility: hidden;
    }

    /* LANGUAGE SELECTOR */

    /* CONTACT MODAL */
    .modal {
        right: 0px;
        width: 100vw;
    }

    .modal-h3 {
        font-size: 1rem;
    }

    .contact-input {
        font-size: 1rem;
    }

    .send-button {
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .send-button p {
        font-size: 1rem;
    }

    .form-content textarea {
        font-size: 1rem;
    }


    /* CONTACT MODAL */


    /* NAVBAR */
    .navbar-ul {
        display: none;
    }

    .logo {
        display: none;
    }

    .menu-button {
        display: flex;
        justify-content: start;

    }

    .nav-button {
        width: 100px;
        padding-left: 15px;
        padding-right: 15px;
        font-weight: 500;
    }

    .buttons-list {
        gap: 30px;
    }

    /* NAVBAR */

    /* ------------------------------------------------ */

    /* HERO */

    h1 {
        font-size: 2.3rem;

        margin-top: 2rem;
    }

    .hero {
        height: 100vh;
    }

    .tag-line {
        position: absolute;
        top: 79%;
        font-size: 1.2rem;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;

    }

    .weather-info {
        justify-content: space-between;
        gap: 10px;
    }


    /* HERO */
    /* ------------------------------------------------ */
    main h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    main p {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    h2 {
        text-align: center;
    }

    h3 {
        font-size: 2rem;
    }


    /* ABOUT ME */
    .content-about-me {
        justify-content: center;
        gap: 3vh;
    }

    .content-about-me video {
        width: 80%;
    }

    .about-me-text {
        width: 80%;
        margin-right: 0px;
    }

    .about-me-text p {
        width: 100%;
    }

    #about-me {
        scroll-margin-top: 80px;
    }

    /* ABOUT ME */
    /* ------------------------------------------------ */
    /* SKILLS */

    .logos {
        flex-direction: row;
        align-items: start;
        justify-content: space-evenly;
        gap: 12%;

    }

    .logos li img {

        width: 60px;
        margin-right: 0px;
    }

    .logos li {
        display: flex;
        align-items: start;
        gap: 30px;
    }

    .skill-list {
        margin-bottom: 30px;
    }

    #skills {
        scroll-margin-top: 80px;
    }

    /* SKILLS */
    /* ------------------------------------------------ */

    /* PORTFOLIO */
    .case-list {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 2vh;

    }

    .case-btn {
        margin-bottom: 10%;
    }

    .case-image {
        width: 99%;
    }

    .case-card p {
        width: 99%;
    }


    /* PORTFOLIO */
    /* ------------------------------------------------ */

    /* REFERENCES */
    .references {
        height: 50vh;
        margin-top: 0px;
        justify-content: space-between;
        margin-bottom: 5vh;
    }

    .reference-div {
        margin-top: 4vh;
    }

    .reference-text {
        font-size: 1.8rem;
        text-align: center;
    }

    .reference-person h3 {
        font-size: 1.5rem;
    }

    #references {
        scroll-margin-top: 80px;
    }

    /* REFERENCES */
    /* ------------------------------------------------ */

    /* FOOTER */
    footer {
        font-size: 1.2rem;
        height: 12vh;
        justify-content: center;
        align-items: center;
        padding: 5vh;
        margin-top: 5vh;
    }

    .footer-list {
        flex-direction: column-reverse;
    }


    .footer-list li a {
        font-size: 1.5rem;
    }

}

@media (min-width: 701px) and (max-width: 1030px) {
    main {
        gap: 25vh;
    }

    .menu-modal a {
        text-decoration: none;
        right: 0px;
    }

    .menu-modal a:hover {
        color: var(--highlight);
    }

    /* LANGUAGE SELECTOR */
    .language {
        visibility: hidden;
    }

    .flag {
        height: 50px;
    }

    /* LANGUAGE SELECTOR */

    /* CONTACT MODAL */
    .modal {
        right: 0px;
        width: 100vw;
    }

    .modal-header {
        align-items: center;
    }

    .modal-h3 {
        font-size: 1.3rem;
        margin-bottom: 0px;
    }

    .contact-input {
        font-size: 1rem;
    }

    .send-button {
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .send-button p {
        font-size: 1.5rem;
    }

    .form-content textarea {
        font-size: 1rem;
    }


    /* CONTACT MODAL */


    /* NAVBAR */
    .navbar-ul {
        display: none;
    }

    .logo {
        display: none;
    }

    .menu-button {
        display: flex;
        justify-content: start;

    }

    .nav-button {
        width: 100px;
        padding-left: 15px;
        padding-right: 15px;
        font-weight: 400;
    }

    .buttons-list {
        gap: 30px;
    }

    /* NAVBAR */

    /* ------------------------------------------------ */

    /* HERO */

    h1 {
        font-size: 3rem;
        margin-top: 2rem;
    }

    .hero {
        height: 100vh;
    }

    .tag-line {
        position: absolute;
        top: 81%;
        font-size: 1.4rem;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;

    }

    .weather-info {
        justify-content: space-between;
        gap: 10px;
    }

    .weather-info li {
        font-size: 1rem;
    }

    .city-list {
        font-size: 1rem;
        font-weight: 600;
        height: 30px;
        width: 150px;
    }

    .city-list option {
        font-size: 0.6rem;
    }




    /* HERO */
    /* ------------------------------------------------ */
    main h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    main p {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    h2 {
        text-align: center;
    }

    h3 {
        font-size: 2rem;
    }

    /* ABOUT ME */
    .content-about-me {
        justify-content: center;
        gap: 3vh;
    }

    .content-about-me video {
        width: 80%;
    }

    .about-me-text {
        width: 80%;
        margin-right: 0px;
    }

    .about-me-text p {
        width: 100%;
    }

    #about-me {
        scroll-margin-top: 120px;
    }

    /* ABOUT ME */
    /* ------------------------------------------------ */
    /* SKILLS */

    .logos {
        flex-direction: row;
        align-items: start;
        justify-content: center;
        gap: 12%;

    }

    .logos li img {

        width: 60px;
        margin-right: 0px;
    }

    .logos li {
        display: flex;
        align-items: start;
        gap: 30px;
    }

    .skill-list {
        margin-bottom: 30px;
    }

    #skills {
        scroll-margin-top: 120px;
    }

    /* SKILLS */
    /* ------------------------------------------------ */

    /* PORTFOLIO */
    .case-list {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 2vh;

    }

    .case-btn {
        margin-bottom: 10%;
        font-size: 2.5rem;
    }

    .case-btn span {
        font-size: 1.7rem;
    }

    .case-image {
        width: 99%;
    }

    .case-card p {
        width: 99%;
    }

    #portfolio {
        scroll-margin-top: 120px;
    }


    /* PORTFOLIO */
    /* ------------------------------------------------ */

    /* REFERENCES */
    .references {
        height: 50vh;
        margin-top: 0px;
        justify-content: space-between;
    }

    .reference-div {
        margin-top: 4vh;
    }

    .reference-text {
        font-size: 1.8rem;
        text-align: center;
    }

    .reference-person h3 {
        font-size: 1.5rem;
    }

    #references {
        scroll-margin-top: 120px;
    }

    /* REFERENCES */
    /* ------------------------------------------------ */

    /* FOOTER */
    footer {
        font-size: 1.8rem;
        height: 20vh;
        justify-content: center;
        align-items: center;
        padding: 5vh;
        margin-top: 5vh;

    }

    .footer-list {
        flex-direction: column-reverse;
    }


    .footer-list li a {
        font-size: 2rem;
    }

}