@media (max-width: 400px) {

    /* CONTACT MODAL */
    .modal {
        width: 100vw;
        padding: 5%;
    }

    /* CONTACT MODAL */


    /* NAVBAR */
    .navbar-ul {
        display: none;
    }

    .logo {
        display: none;
    }

    .menu-button {
        display: flex;
    }

    .nav-button {
        width: 100px;
    }

    /* NAVBAR */

    /* ------------------------------------------------ */

    /* HERO */

    h1 {
        font-size: 2rem;
    }

    .tag-line {
        position: absolute;
        top: 79%;
        font-size: 1rem;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    .weather {
        margin-right: 5%;
    }

    .weather-info {
        display: flex;
        justify-content: space-between;
    }


    /* HERO */
    /* ------------------------------------------------ */

    h2 {
        text-align: center;
    }

    /* ABOUT ME */
    .content-about-me video {
        width: 100%
    }

    .about-me-text {
        margin-right: 0px;
    }

    .about-me-text p {
        width: 100%;
    }

    #about-me {
        scroll-margin-top: 60px;
    }

    /* ABOUT ME */
    /* ------------------------------------------------ */
    /* SKILLS */

    .logos {
        flex-direction: column;
        align-items: center;

    }

    .logos li img {

        width: 60px;
        margin-right: 0px;
    }

    .logos li {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .skill-list {
        margin-top: 30px;
    }

    #skills {
        scroll-margin-top: 60px;
    }

    /* SKILLS */
    /* ------------------------------------------------ */

    /* PORTFOLIO */
    .case-list {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 5vh;

    }

    .case-image {
        width: 100%;
    }

    .case-card p {
        width: 100%;
    }

    #portfolio {
        scroll-margin-top: 60px;
    }

    /* PORTFOLIO */
    /* ------------------------------------------------ */

    /* REFERENCES */

    .references {
        margin-top: 50px;
        height: 45vh;

    }

    .references-person h3 {
        font-size: 1.2rem;
    }

    .reference-text {
        margin-top: 5vh;
        font-size: 1.4rem;
    }

    #references {
        scroll-margin-top: 60px;
    }

    /* REFERENCES */
    /* ------------------------------------------------ */

    /* FOOTER */
    footer {
        font-size: 1.2rem;
        height: 12vh;
        justify-content: center;
        align-items: center;
    }

    .footer-list {
        flex-direction: column-reverse;
    }

    .footer-list li a {
        font-size: 2rem;
    }

}


@media (min-width: 401px) and (max-width: 930px) {
    main {
        gap: 10vh;
    }

    .menu-modal a {
        text-decoration: none;
        right: 0px;
    }

    .menu-modal a:hover {
        color: var(--highligth);
    }

    /* CONTACT MODAL */
    .modal {
        left: 0px;
        width: 100vw;

    }


    /* CONTACT MODAL */


    /* NAVBAR */
    .navbar-ul {
        display: none;
    }

    .logo {
        display: none;
    }

    .menu-button {
        display: flex;
        justify-content: start;

    }

    .nav-button {
        width: 100px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .buttons-list {
        gap: 15px;
    }

    /* NAVBAR */

    /* ------------------------------------------------ */

    /* HERO */

    h1 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .hero {
        height: 100vh;
    }

    .tag-line {
        position: absolute;
        top: 76%;
        font-size: 1rem;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;

    }

    .weather-info {
        justify-content: space-between;
        gap: 10px;
    }


    /* HERO */
    /* ------------------------------------------------ */
    main h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    h2 {
        text-align: center;
    }

    /* ABOUT ME */
    .content-about-me {
        justify-content: center;
    }

    .content-about-me video {
        width: 100%
    }

    .about-me-text {
        width: 100%;
        margin-right: 0px;
    }

    .about-me-text p {
        width: 100%;
    }

    #about-me {
        scroll-margin-top: 80px;
    }

    /* ABOUT ME */
    /* ------------------------------------------------ */
    /* SKILLS */

    .logos {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 10%;
    }

    .logos li img {

        width: 60px;
        margin-right: 0px;
    }

    .logos li {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .skill-list {
        margin-top: 30px;
    }

    #skills {
        scroll-margin-top: 80px;
    }

    /* SKILLS */
    /* ------------------------------------------------ */

    /* PORTFOLIO */
    .case-list {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 2vh;

    }

    .case-btn {
        margin-bottom: 10%;
    }
    .case-image {
        width: 99%;
    }
    .case-card p {
        width: 99%;
    }


    /* PORTFOLIO */
    /* ------------------------------------------------ */

    /* REFERENCES */
    .references {
        height: 50vh;
        margin-top: 50px;
        justify-content: space-between;
    }

    .reference-div {
        margin-top: 4vh;
    }

    .reference-text {
        font-size: 1.4rem;
    }

    .reference-person h3 {
        font-size: 1.5rem;
    }

    #references {
        scroll-margin-top: 80px;
    }

    /* REFERENCES */
    /* ------------------------------------------------ */

    /* FOOTER */
    footer {
        font-size: 1.2rem;
        height: 12vh;
        justify-content: center;
        align-items: center;
    }

    .footer-list {
        flex-direction: column-reverse;
    }


    .footer-list li a {
        font-size: 1.5rem;
    }

}