* {
    box-sizing: border-box;
}

:root {
    --header-padding-top: 20px;
    --header-padding-bottom: 10px;
    --main-margin-top: 25px;
    --main-margin-bottom: 15px;
    --case-margin-right: 20px;
    --padding-left: 30px;
    scroll-behavior: smooth;
}


body {
    background-color: #1B3C53;
    scroll-behavior: smooth;
}

::selection {
    background-color: #78B9B5;
    color: #1B3C53;
}

header {
    height: 80px;
    position: sticky;
    padding-top: var(--header-padding-top);
    padding-bottom: var(--header-padding-bottom);
    padding-left: var(--padding-left);
    z-index: 100;
    top: 0;
}

.logo {
    width: 30px;
}

.blur {
    height: 50%;
    backdrop-filter: blur(16px) brightness(0.8);
}

.navbar-ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    list-style: none;
}

.navbar-ul li {
    margin-top: 10px;
    margin-right: 25px;
    align-content: center;
}

header nav ul li i {
    color: #D2C1B6;
}

.download-cv-button {
    font-family: "Orbitron";
    width: 130px;
    color: #1B3C53;
    padding: 4px 8px;
    background-color: #D2C1B6;
    border: #D2C1B6 2px solid;
    border-radius: 5px;
}

.contact-me-button {
    font-family: "Orbitron";
    color: #78B9B5;
    padding: 4px 8px;
    background-color: #1B3C53;
    border: #78B9B5 2px solid;
    border-radius: 5px;

}

.contact-me-button:hover {
    background-color: #78B9B5;
    color: #1B3C53;
    transition: all 0.3s ease-in-out;
}

.download-cv-button:hover {
    background-color: #78B9B5;
    border-color: #78B9B5;
    transition: all 0.3s ease-in-out;
}

.nav-button {
    width: 130px;
}

a:link,
a:visited {
    font-family: "Orbitron";
    font-size: 20;
    color: #D2C1B6;
    text-decoration: none;
}

a:hover {
    color: #78B9B5;
    filter: blur(0);
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

a:active {
    font-family: "Orbitron";
    font-size: 20;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    height: 90vh;
    position: relative;
}

.hero p {
    font-family: "Orbitron";
    color: #D2C1B6;
    padding-top: 25px;
    animation: logo-p 3s;
}

@keyframes logo-p {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}



.hero-background-element-left {
    top: 5px;
    left: 0px;
    background-color: #74ff86;
    position: absolute;
    height: 30%;
    width: 30%;
    border-radius: 50%;
    filter: blur(130px);
    animation: gradient-left infinite 5s;
    z-index: 10;
}

.hero-background-element-right {
    bottom: 0px;
    right: 0px;
    background-color: #b978ac;
    position: absolute;
    height: 50%;
    width: 30%;
    border-radius: 50%;
    filter: blur(130px);
    animation: gradient-right infinite 15s;
    z-index: 10;
}

@keyframes gradient-left {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes gradient-right {
    0% {
        opacity: 60%;
    }

    25% {
        opacity: 20%;
    }

    50% {
        opacity: 100%;
    }

    75% {
        opacity: 20%;
    }

    100% {
        opacity: 60%;
    }
}

.hero img {
    height: 25vh;
    animation: logo-appear 3s;
}

@keyframes logo-appear {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

main {
    padding-left: var(--padding-left);
}

main h2 {
    font-family: "Orbitron";
    font-size: x-large;
    color: #D2C1B6;
    margin-top: var(--main-margin-top);
    margin-bottom: var(--main-margin-bottom);
}

main h3 {
    font-family: "Orbitron";
    font-size: large;
    color: #D2C1B6;
    margin-bottom: var(--main-margin-bottom);
    margin-top: 15px;
}

p {
    line-height: 1.5;
    line-break: normal;
    letter-spacing: 1.2px;
}

main p {
    font-family: "Orbitron";
    font-size: smaller;
    color: #D2C1B6;
    width: 5px;
    height: 100%;
    border-left: 3px solid #78B9B5;
    width: 50vw;
    padding-left: 10px;
    margin-top: var(--main-margin-top);
    margin-bottom: var(--main-margin-bottom);
}


.logos {
    list-style: none;
    display: flex;
    justify-content: start;
    padding-top: var(--main-margin-top);
    flex-wrap: wrap;
}

.logos li img {
    height: 100px;
    margin-right: 100px;
    list-style: none;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-family: "Orbitron";
    font-size: 14px;
    color: #D2C1B6;
    list-style: none;
    border-left: #78B9B5 3px solid;
    line-break: normal;
    letter-spacing: 1.2px;
}

.skill-list li {
    width: 100px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.content-about-me {
    display: flex;
    flex-wrap: wrap;
}

.content-about-me video {
    width: 400px;
    margin-right: 25px;
    z-index: 100;
}

.content-about-me p {
    width: 500px;
    ;
}

.case-section {
    display: flex;
    flex-direction: column;
}

.case-list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    list-style: none;
}

.case-card {
    display: flex;
    flex-direction: column;
    margin-right: var(--case-margin-right);
    width: 300px;
}

.case-image {
    width: 250px;
}

.case-card p {
    width: 250px;
}


footer {
    display: flex;
    align-items: end;
    justify-content: center;
    font-family: monospace;
    font-weight: 300;
    font-size: x-large;
    color: #1B3C53;
    padding-top: 1%;
    padding-bottom: 2%;
    background: #D2C1B6;
}

footer i {
    color: #1B3C53;
}

footer i:hover {
    color: #78B9B5;
}

footer p::selection {
    background-color: #1B3C53;
    color: #D2C1B6;
}

footer span::selection {
    background-color: #1B3C53;
    color: #D2C1B6;
}

#about-me {
    scroll-margin-top: 100px;
}


#portfolio {
    scroll-margin-top: 100px;
}

#skills {
    scroll-margin-top: 100px;
}

#references {
    scroll-margin-top: 100px;
}