* {
    box-sizing: border-box;
}
:root{
    --header-padding-top: 20px;
    --header-padding-bottom: 10px;
    --main-margin-top: 3%;
    --main-margin-bottom: 3%;
    --padding-left: 30px;
}


body {
    height:fit-content;
    background-color: #1B3C53;
}

::selection {
    background-color: #78B9B5;
    color: #1B3C53;
}

header{
    display: flex;
    height: 80px;
    flex-direction: column;
    position: sticky;
    padding-top: var(--header-padding-top);
    padding-bottom: var(--header-padding-bottom);
    padding-left: var(--padding-left);
    top: 0;
}
.logo{
    width: 30px;
}

.blur{
    height: 50%;
    backdrop-filter: blur(16px) brightness(0.8);
}
.download-cv-button{
    display: flex;
    font-family: "Orbitron";
    color: #1B3C53;
    padding: 4px 8px;
    background-color: #D2C1B6;
    border: #D2C1B6 2px solid;
    border-radius: 5px;
}
.contact-me-button{
    font-family: "Orbitron";
    color: #78B9B5;
    padding: 4px 8px;
    background-color: #1B3C53;
    border: #78B9B5 2px solid;
    border-radius: 5px;

}
.contact-me-button:hover{
    background-color: #78B9B5;
    color: #1B3C53;
    transition: all 0.3s ease-in-out;
}
.download-cv-button:hover {
    background-color: #78B9B5;
    border-color: #78B9B5;
    transition: all 0.3s ease-in-out;
}
.navbar-ul{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    list-style: none;
}
.navbar-ul li{
    display: flex;
    justify-content: center;
    margin-right: 15px;
    align-items: center;
}

header nav ul li i{
    
    color: #D2C1B6;
}


a:link, a:visited{
    font-family: "Orbitron";
    font-size: 20;
    color: #D2C1B6;
    text-decoration: none;
}

a:hover{
    color: #78B9B5;
    filter: blur(0);
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}
a:active{
    font-family: "Orbitron";
    font-size: 20; 
}

.hero{
    height: 30vh;
}
main{
    padding-left: var(--padding-left);
}

main h2 {
    font-family: "Orbitron";
    font-size: x-large;
    color: #D2C1B6;
    margin-top: var(--main-margin-top);
    margin-bottom: var(--main-margin-bottom);
}

main h3 {
    font-family: "Orbitron";
    font-size: large;
    color: #D2C1B6;
    margin-top: var(--main-margin-top);
    margin-bottom: var(--main-margin-bottom);
}

video{
    display:flex;
    width: 200px;
}
p{
    line-height: 1.5;
    line-break:normal;
    letter-spacing: 1.2px;
}
main p{
    font-family: "Orbitron";
    font-size: smaller;
    color: #D2C1B6;
    width: 5px;
    height: 100%;
    border-left: 3px solid #78B9B5;
    width: 50vw;
    padding-left: 10px;
    margin-top: var(--main-margin-top);
    margin-bottom: var(--main-margin-bottom);
}

.logos {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.logos li img{
    height: 100px;
    padding: 20px;
    list-style: none;
}

footer{
    display: flex;
    align-items: end;
    justify-content: center;
    font-family:monospace;
    font-weight: 300;
    font-size:x-large;
    color: #1B3C53;
    padding-top: 1%;
    padding-bottom: 2%;
    background: #D2C1B6;
}
footer i{
    color: #1B3C53;
}
footer i:hover{
    color: #78B9B5;
}
footer p::selection{
    background-color: #1B3C53;
    color: #D2C1B6;
}
footer span::selection{
    background-color: #1B3C53;
    color: #D2C1B6;
}
