body {
    height:fit-content;
    background-color: #1B3C53;
    width: 80%;
}

::selection {
    background-color: #78B9B5;
    color: #1B3C53;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: start;
    
    margin: 3%;
}

header h1{
    display: block;
    align-items: center;
    font-family: "Orbitron";
    font-size: 50px;
    font-weight: 700;
    color: #D2C1B6;
    margin-left: 10px;
}

header nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
    list-style: none;
}

a:link{
    font-family: "Orbitron";
    font-size: 20;
    color: #D2C1B6;
}
a:visited {
    font-family: "Orbitron";
    font-size: 20;
    color: #D2C1B6;
}
a:hover{
    color: #78B9B5;
    filter: blur(0);
    
}
a:active{

}

main h2 {
    font-family: "Orbitron";
    color: #D2C1B6;
    margin-left: 3%;
}
main p{
    font-family: "Orbitron";
    color: #D2C1B6;
    margin-left: 3%;
    width: 70%;
}

.logos {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.logos li img{
    height: 60px;
    padding: 20px;
    list-style: none;
}

footer{
    display: flex;
    align-items: end;
    justify-content: center;
    font-family:monospace;
    font-weight: 300;
    font-optical-sizing: 20px;
    font-size:large;
    color: #D2C1B6;
}