@import url("/resources/css/colors.css");

* {
    box-sizing: border-box;
}

::-webkit-scrollbar-track {
    background: var(--light-color);
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-thumb {
    background: var(--bg-color);
    border: var(--light-color) 3px solid;
    border-radius: 15px;
}

:root {
    --margin-left: 10%;
    --margin-right: 10%;
    --scroll-margin-top: 120px;
    --header-padding-top: 20px;
    --header-padding-bottom: 10px;
    --main-margin-top: 25px;
    --main-margin-bottom: 15px;
    --case-margin-right: 20px;
    --padding-left: 30px;
    scroll-behavior: smooth;
}


body {
    background-color: var(--bg-color);
    transition: all 1s ease-in-out;
}

::selection {
    background-color: var(--highlight);
    color: var(--bg-color);
}


.logos {
    list-style: none;
    display: flex;
    gap: 5%;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

.logos li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.logos li img {
    height: 100px;
}

.skill-list {
    display: flex;
    flex-direction: column;
    width: 100px;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    color: var(--light-color);
    list-style: none;
    border-left: var(--highlight) 3px solid;
    letter-spacing: 1.2px;
}

.skill-list li {
    width: 150px;
    margin-bottom: 10px;
    padding-left: 10px;
}


.content-about-me {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

.content-about-me video {
    width: 400px;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    border-left: var(--highlight) 3px solid;
}

.about-me-text p {
    margin: 0px;
}


.case-section {
    display: flex;
    flex-direction: column;
}

.case-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3%;
    list-style: none;
}

.case-card {
    display: flex;
    flex-direction: column;
    border: var(--light-color) 2px solid;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    gap: 20px;
    background-color: var(--extra-dark);
    transition: all 0.3s ease-in-out;
}

.case-card:hover {
    box-shadow: 0px 0px 10px var(--highlight);
}


.case-image {
    width: 250px;
    border-radius: 5px;
}

.case-card p {
    display: flex;
    width: 250px;
    padding: 0px;
    margin: 0px;
    /* border-left: var(--highlight) 3px solid; */
}

.case-logo-list {
    display: flex;
    gap: 20px;
    list-style: none;
}

.case-loggos {
    height: 40px;
}

.case-btn-section {
    display: flex;
    gap: 3%;
}

.case-btn {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--bg-color);
    font-size: 1.5rem;
    font-family: "Orbitron", sans-serif;
    text-decoration: none;
    background-color: var(--light-color);
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.case-btn span {

    font-weight: 600;
    font-size: 1rem;
}

.case-btn:hover {
    background-color: var(--highlight);
}

.case-btn:visited {
    color: var(--bg-color);
}

.references {
    margin-top: 80px;
    height: 60vh;
}

.reference-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3%;
}

.reference-text {
    font-family: "Nunito", sans-serif;
    font-size: 3rem;
    font-weight: 300;
    color: var(--light-color);
}

.reference-text::before {
    content: '"';
}

.reference-text::after {
    content: '"';
}

.reference-person {
    display: flex;
    flex-direction: column;
    align-items: end;
    color: var(--light-color);
}

.reference-person h3 {
    font-family: "Orbitron", sans-serif;
    font-size: 1.8rem;
    margin-top: 3rem;
}

.reference-company {
    width: auto;
    font-family: "Nunito", sans-serif;
    margin: 0px;
}

#about-me,
#portfolio,
#skills,
#references {
    scroll-margin-top: var(--scroll-margin-top);
}